        body {
            margin:0;
        }

        #wrapper {
            padding: 0;
            margin: 0;
            width: 1024px;
            height: 575px;
            background-image: url("http://oi61.tinypic.com/2mcvbzr.jpg");
        }

        h1 {
            display: block;
            margin-top: 0;
            margin-left: 30px;
            color: #f3be60;
        }

        li {
        list-style-type:none;
        color:white;
        }

            li:before {
                margin-right: 15px;
                content: "■";
                color: #f3be60;
                font-size:20px;
                vertical-align:super;
            }

        .main {
        margin-top:25px;
        font-size:2em;
        }

            .main p {
            font-size:0.7em;
            margin:0;
            color:#f9edc8;
            }

        span {
            color: #f3be60;
        }

        #smallest {
            font-family: Consolas;
            font-weight:bold;
            margin-left: 25px;
            margin-top: 30px;
            height: 65px;
            width: 700px;
            border: 1px solid #646056;
        }

        .content {
            font-family: Consolas;
            font-weight:bold;
            margin-left: 25px;
            margin-top: 15px;
            border: 1px solid #646056;
            width: 700px;
            height: 85px;
        }