* {
    margin:0;
    padding:0;
}

body {
    font-family:Arial,sans-serif;
}

#wrapper {
    width:960px;
    margin:0 auto;
}

/* header */
header {
    background-image:url(../images/header-bg.png);
    height:40px;
}

header h3 {
    text-transform:uppercase;
    padding:8px 0 0 15px;
}

header nav {
    float:right;
    display:inline-block;
    position:relative;
    top:-20px;
}

header nav ul li {
    list-style:none;
    display:inline-block;
    width:60px;
    text-align:center;
}

header nav ul li a {
    text-decoration:none;
}

/*search box*/
#searchBox {
    background-color:black;
}

#searchBox ul {
    display:inline-block;
    margin:10px;
}

#searchBox ul li {
    list-style:none;
    display:inline-block;
}

#searchBox ul li:nth-child(1):after,#searchBox ul li:nth-child(2):after,#searchBox ul li:nth-child(3):after {
    content:" / ";
    color:#99A999;
}

#searchBox ul li a {
    text-decoration:none;
    color:#99A999;
}

#searchBox input {
    position:relative;
    left:580px;
    background-color:black;
    border:1px solid white;
    padding-left:10px;
    border-radius:10px;
    color:white;
}

/* main */
main h2 {
    padding:20px 0 20px 20px;
}

main p {
    padding:10px 0;
}

main p span {
    font-weight:bold;
}