input {
    display: block;
    margin: 5px 0;
}

#bookmarksView form, .bookmark {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.bookmark {
    background-color: #E7E7E7;
}

.bookmark button {
    display: block;
    margin: 4px 0;
}

#bookmarks {
    margin: 10px 0;
}

header, main {
    margin: 10px;
}