@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, div, ul, li {

    margin:0;
	padding:0;

}

body {

    font-family: Verdana, Geneva, sans-serif;
    background-color: #000;	
	
	
}

#divWraper {
    
   position:absolute;	
   top:35px;
   left:50%;
   margin-left: -30%;
   width:60%;
   height:90% ;
   transform:translate(-50%,-50%);
   border:1px solid rgba(120,120,120,0.3) ;	
   border-radius:10px;
}

#divBaner {

   width:100%;
   height:25%;
   margin-left:0px;
   margin-top:0px;
   color:#222;
   background:url(design/Baner_darkGradPaper.png);
   background-size:100% 100%;
   opacity:0.7;
   border-radius:10px;
}

#divTeamHead{

   position:relative;
   top:-30%;
   left:70%;
   width:25%;
   height:95%;
   background:url(design/teamHead.png) no-repeat;
   background-size:100%;
   background-position:bottom;
   
}

#divSuLogo {

   position:relative;
   top:50%;
   left:3%;
   width:35%;
   height:35%;
   background:url(design/sulogo.png) no-repeat;
   background-size:100%;
   background-position:bottom;

}

#divSlide{

   position:relative;
   top:-5%;
   width:100%;
   height:80%;
   background:url(design/Slide_YellowPapper.png) no-repeat;
   background-size:100%  100%;
   border-radius:10px;
   
}

#infoTablet{

   position:absolute;
   top:15%;
   left:5%;
   width:90%;
   height:70%;
 /  background-color:rgba(50,40,40,0.1) ;
   background-image:url(design/nails.png) ;
   border-radius:15px;
   border:1px dashed rgba(0,0,0,1) ;
   color:darkred;
   text-align:right;
   font-size:14px;
   font-size: 1.4vw;
   padding-right:5px;
   padding-top:5px;
  / text-shadow:1px 1px 2px #000;
   background-size:cover;
   
}

#imgNail{

   position:absolute;
   bottom:2%;
   left:0%;
   width:7%;
   height:10%;
   background-image:url(design/onenails.png) ;
   background-size:cover;
   
}

#imgNail1{

   position:absolute;
   bottom:2%;
   right:1%;
   width:7%;
   height:10%;
   background-image:url(design/onenails.png) ;
   background-size:cover;
   
}


#imgWhat{

   position:absolute;
   top:15%;
   left:5%;
   width:30%;
   height:70%;
   background:url(design/whatIS.png) no-repeat;
   border-radius:2px;
 /  border:1px dashed rgba(0,0,0,0.1) ;
   background-size:100% ;
   background-color:rgba(50,40,40,0.1);
   text-align:left;
   

}



#creditEmbed{

  margin-top:2%;
  margin-right:5%;
  width:90%;
  height:73%;
  border:1px solid rgba(120,220,120,0) ;


}

::-webkit-scrollbar {

   width: 10px;
   height: 10px;
   background-color:rgba(120,170,120,0.1) ;
   /border-radius: 6px;
   
}

::-webkit-scrollbar-thumb:vertical   {

 background-color: #3b3b3b;
 -webkit-border-radius: 6px;
 
}


#imgInteligent{

   position:absolute;
   top:25%;
   left:5%;
   width:30%;
   height:70%;
   background:url(design/inteligentgirl.png) no-repeat;
   border-radius:2px;
  /border:1px dashed rgba(0,0,0,0.1) ;
   background-size:100% ;
  /background-color:rgba(50,40,40,0.1);
   text-align:center;
   background-position:0px 85%; 

}

#spokenBaloon {
  
  
  / border:2px dashed rgba(0,0,0,0.1) ;
   width:90%;
   height:20%;
   color:rgba(255,255,255,0.7);
   background-color:rgba(50,40,40,0.6);
   border-top-left-radius :15px;
   border-top-right-radius :15px;
   padding-left:3px;
   padding-right:3px;
   padding-top:3px;
   
}

#spokenBaloon1{

 
  / border:2px dashed rgba(0,0,0,0.1) ;
   width:90%;
   height:20%;
   color:rgba(255,255,255,0.7);
   background-color:rgba(50,40,40,0.6);
   border-top-left-radius :15px;
   border-top-right-radius :15px;
   
}


#spokenBaloon2{

 
  / border:2px dashed rgba(0,0,0,0.1) ;
   width:90%;
   height:20%;
   color:rgba(255,255,255,0.7);
   background-color:rgba(50,40,40,0.6);
   border-top-left-radius :15px;
   border-top-right-radius :15px;
   
}

#spokenLine  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:2%;
   height:40%;
   left:5%;
}

#spokenDot  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:10%;
   height:2%;
   left:5%;
   top:60.5%;
   border-bottom-right-radius :15px;
   border-top-right-radius :15px;
   
}

#spokenLine1  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:2%;
   height:30%;
   left:5%;
}

#spokenDot1  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:10%;
   height:2%;
   left:5%;
   top:50%;
   border-bottom-right-radius :15px;
   border-top-right-radius :15px;
   
}

#spokenLine2  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:2%;
   height:30%;
   left:5%;
}

#spokenDot2  {

   position:absolute;
   color:black;
   background-color: rgba(50,40,40,0.6);
   width:10%;
   height:2%;
   left:5%;
   top:50%;
   border-bottom-right-radius :15px;
   border-top-right-radius :15px;
   
}

#imgCreative{

   position:absolute;
   top:25%;
   left:35%;
   width:30%;
   height:70%;
   background:url(design/creativrobot.png) no-repeat;
   border-radius:2px;
  / border:1px dashed rgba(0,0,0,0.1) ;
   background-size:100% ;
  / background-color:rgba(50,40,40,0.1);
   text-align:center;
   background-position:0px 85%; 

}

#imgBase{

   position:absolute;
   top:25%;
   left:65%;
   width:30%;
   height:70%;
   background:url(design/strongbase.png) no-repeat;
   border-radius:2px;
 /  border:1px dashed rgba(0,0,0,0.1) ;
   background-size:100% ;
 /  background-color:rgba(50,40,40,0.1);
   text-align:center;
   background-position:0px 85%; 

}



#imgButtons{

   width:100%;
   height:15%;
  / background-color: white;
  / opacity:0.5;


}


#imgButtons ul{

   position:absolute;
   top:7%;
   right:10%;
   list-style-type:none;
   color : white;

}

#imgButtons ul li{

   float:right;
   margin:7px;
   

}

#imgButtons ul li a{

   text-decoration:none;
   color:rgba(50,90,50,1);
   font-size:12px;
   font-size: 1vw;
   box-shadow: 2px 2px 3px rgba(20,0,0,0.7);
   padding-left:3px;
   padding-right:3px;
   border-radius:3px;
   font-weight:700;
   background-color:rgba(200,200,200,0.1);
   
}

#imgBoss{

   position:absolute;
   top:15%;
   left:5%;
   width:30%;
   height:70%;
   background:url(design/boss.png) no-repeat;
   border-radius:2px;
   border:1px dashed rgba(0,0,0,0.1) ;
   background-size:100% ;
   background-color:rgba(50,40,40,0.1);
   text-align:left;
   

}

#captionWhat{

   color:black;
   padding-left:40%;
   padding-bottom:20%;
   padding-right:5px;
   padding-top:5%;
   text-align:justify;
   text-indent:10px;
   
 
}

#captionWhy{

  
   color:black;
   padding-left:50%;
   padding-bottom:5%;
   padding-right:5px;
   padding-top:0%;
   text-align:justify;
   text-indent:10px;
   
 
}


#footer{
   
   position:absolute;
   bottom:0;
   width:100%;
   height:10%;
  / background:url(design/Slide_YellowPapper_Con.png) repeat;
   background-color:rgba(0,0,0,0.1) ;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
   background-size:100%  ;
   opacity:	0.7;
}

#lineFooter{
    
   position:absolute;	
   top:0px;
   background-color:rgba(0,0,0,0.5) ;
   width:100%;
   height:10px;

}

#checkLinks ul {

   position:absolute;
   top:10%;
   right:2%;
   list-style-type:none;
   color : white;
      
}

#checkLinks ul li{ 

   float:right;
   margin:7px;
   
 }

#checkLinks ul li a.v5{ 
   
  
   opacity:0.5;
 
   background-image:url(design/html5link.png)   ;
   background-size:100% 100%;
   font-size:12px;
   font-size: 1vw;
   
}

#checkLinks ul li a.v3{ 
   
  
   opacity:0.5;
 
   background-image:url(design/css3link.png)   ;
   background-size:100% 100%;
   font-size:12px;
   font-size: 1vw;
   
}




#links{

   width:70%;
   background-color:rgba(0,50,0,1) ;

}

#links ul {

   position:relative;
   top:5px;
   left:5px;
   list-style-type:none;
   color : white;
   
}


#links ul li{ 

   float:left;
   margin:7px;
   
}


#links ul li a{ 
  
 / width:20%;
 / height:10%;
   display:block;
   text-decoration:none;
   color:white;
   font-family: Lucida Calligraphy;
   background: rgba(90,150,90,1);
   text-align:center;
   padding-left:5px;
   padding-right:5px;
   font-size:12px;
   font-size: 0.8vw;
   border:1px solid rgba(220,220,220,0.2) ;	
   box-shadow: 3px 3px 5px rgba(0,0,0,1);
   
  /*Border radius*/
  
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  /*Gradients*/
  
  background: -moz-linear-gradient(top, rgba(90,150,90,1),rgba(40,100,40,1));
  background: -webkit-gradient(linear,left top,left bottom,from( rgba(120,150,110,1)),to(rgba(40,100,40,1)));
  
  transition: background 0.5s linear 0s, color 0.5s linear 0s;  
  
}

#links ul li a:hover{

   /*Gradients*/
  
   background: -moz-linear-gradient(top, rgba(90,170,90,1),rgba(40,140,40,1));
   background: -webkit-gradient(linear,left top,left bottom,from( rgba(120,170,110,1)),to(rgba(40,140,40,1)));
   color: #000;
} 

#links ul li a.current, #links ul li a.current:hover{

   
    /*Gradients*/
  
   background: -moz-linear-gradient(top, rgba(90,170,90,1),rgba(40,140,40,1));
   background: -webkit-gradient(linear,left top,left bottom,from( rgba(120,170,110,1)),to(rgba(40,140,40,1)));
   color:rgba(250,230,90,1);
   cursor:default;

}

#links ul li a:active{

   /*Gradients*/
   
   position:relative;
   background: -moz-linear-gradient(top, rgba(50,100,50,1),rgba(20,70,20,1));
   background: -webkit-gradient(linear,left top,left bottom,from( rgba(120,170,110,1)),to(rgba(20,70,20,1)));
   color:rgba(230,210,50,1);
   box-shadow: 1px 1px 2px rgba(0,0,0,1);
   top:1px;
}


