USE [master]
GO
/****** Object:  Database [School]    Script Date: 8.2.2015 г. 22:51:36 ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 8.2.2015 г. 22:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudents] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 8.2.2015 г. 22:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Math', 15)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'English', 10)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Физклутура', 5)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Alex', 20, N'0883445566')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Anton', 26, N'0894557709')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Dimitar', 28, N'0897456381')
USE [master]
GO
