body {
    background-color:#3B5997;
    color:white;
    font-family:Tahoma;
}

section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width:80%;
    text-align:center;
}

fieldset {
        border-radius: 10px;
        display: inline;
        font-size:14px;
        text-align:left;
}

h1, h2, h3 {
    text-align:center;
    margin:10px;
}

h1 {
    font-size:90px;
}

h2 { 
    font-size:30px;
}

h3 {
    font-size:15px;
    margin-bottom:30px;
}

input[type=text], input[type=email], input[type=tel], input[type=password], input[type=url], input[type=datetime-local],
input[type=color],input[type=date],input[type=tel], select, textarea {
    width:140px;
    border-radius:5px;
    margin:2px;
}

input[type=text].details {
    width:70px;
}

textarea {
    width:470px;
}

#btn-clear {
    width:333px;
    height:40px;
    border-radius:5px;
    background-color:lightgray;
    color:#3B5997;
    font-size:18px;
    margin-left:250px;
}

#btn-register {
    background-color:lightgray;
    color:#3B5997;
    font-size:20px;
    height:40px;
    width:505px;
    border-radius:5px;
    margin-left:10px;
}