a{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 3px;
    background-color: white;
}

form fieldset{
    position: relative;
    padding-top: 40px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-color: #7fbbfc;
}

legend{
    position: absolute;
    top:10px;
    font-size: 1.3em;
}

select{
    min-width: 80%;
    max-width: 30px;
    display: block;
    margin: 10px 0;
    background-color: lightgoldenrodyellow;
}

input{
    margin: 10px 0;
    background-color: lightgoldenrodyellow;
}