body {
    background-color:pink;
    font-family:Tahoma;
}

h1 {
    margin-left:430px;
}

section {
    display:inline-block;
}

    section h2 {
        margin-bottom:5px;
        font-size:20px;
        font-weight:normal;
    }

#profileCompleted {
    margin-bottom:5px;
    margin-left:6px;
    font-size:19px;
}

#audio {
    width:300px;
}

meter {
    margin-left:6px;
    width:200px;
    height:20px;
}

img {
    width:237px;
    height:197px;
}

figure {
    margin:5px;
}

#large {
    background-color:black;
    height:150px;
}

figcaption {
    font-size:20px;
    margin-bottom:5px;
}